<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="akka"
             type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <appSettings>
    <add key="server.address" value="akka.tcp://KvActorSystem@localhost:8090" />
  </appSettings>

  <akka>
    <hocon>
      <![CDATA[

          akka {
            //loglevel = OFF

            actor {
              provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
              debug {
                receive = on
                autoreceive = on
                lifecycle = on
                event-stream = on
                unhandled = on
              }
            }

            remote {
              helios.tcp {
  	            port = 0
  	            hostname = localhost
              }
            }
          }
        ]]>
    </hocon>
  </akka>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>