<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="akka"
             type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
	
  <appSettings>
    <add key="maxKeyLength" value="20" />
	<add key="maxValueLength" value="20" />
    <add key="maxStorageKeys" value="5"/>
  </appSettings>
	
  <akka>
    <hocon>
      <![CDATA[

          akka {
            loglevel = INFO

            actor {
              provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
              debug {
                receive = on
                autoreceive = on
                lifecycle = on
                event-stream = on
                unhandled = on
              }

              deployment {
                /storage {
                  router = consistent-hashing-pool
                  nr-of-instances = 5
                  virtual-nodes-factor = 10
                }
              }
            }

            remote {
              helios.tcp {
  	            port = 8090
  	            hostname = localhost
              }
            }
          }
        ]]>
    </hocon>
  </akka>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>